@model StudentCollab.Models.User
    @using StudentCollab.Models

@{
    ViewBag.Title = "Departments";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    Syear year = (Syear)TempData["year"];
    Thread inst = (Thread)TempData["thread"];
    Content cont = (Content)TempData["threadCont"];
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <!-- start header -->
    <div id="wrapper">
        <div id="header">
            <div id="logo" style="flex">
                <h1><a href="#">StudyCollab</a></h1>
                <p><a href="#">Learn from the best</a></p>
            </div>
        </div>
        <!-- end header -->
        <!-- star menu -->
        <div id="menu">
            <ul>
                <li class="current_page_item"><a href="@Url.Action("MainPage","MainPage",ViewData["CurrentUser"])">Home</a></li>
                <li><a href="#">Upload now</a></li>
                <li><a href="#">Recent followers upload</a></li>
                <li><a href="#">My profile</a></li>
                <li><a href="#">User Logged: @Model.UserName</a></li>
                @if (Model.rank == 0)
                {
                    <li><a href="#">Admin Page</a></li>
                }
                @if (!Model.UserName.Equals("None"))
                {
                    <li><a href="@Url.Action("logout","MainPage")">log out</a></li>
                }
            </ul>
        </div>
        <!-- end menu -->
        <!-- start page -->
        <div id="page">
            <!-- start content -->
            <div id="content">
                <form action="@Url.Action("EditThreadContent","MainPage",cont)" method="post">
                    <table class="table table-bordered" style="width:100%">
                        <tr>
                            <td>Select Thread Type:</td>
                            <td>
                                <select class="form-control" id="threadType" name="threadType">
                                    <option>@inst.ThreadType</option>
                                    <option>[Question] </option>
                                    <option>[Publication] </option>
                                    <option>[Request] </option>
                                    <option>[Exam] </option>
                                </select>
                            </td>

                        </tr>
                        <tr>
                            <td>Thread Name: </td>
                            <td><input type="text" name="threadName" value="@inst.ThreadName" /></td>
                        </tr>
                        <tr>
                            <td>Content: </td>
                            <td><textarea rows="4" cols="50" name="contentArea" value="Enter Content">@cont.threadContent</textarea></td>
                        </tr>
                        <tr>
                            <td>Solved?</td>
                            @if (inst.Solved == true)
                            {
                                <td>
                                    <input type="radio" id="solved" name="solved" value="true" checked=checked />Yes<br />
                                    <input type="radio" id="solved" name="solved" value="false" />No<br />
                                </td>
                            }
                            else
                            {
                                <td>
                                    <input type="radio" id="solved" name="solved" value="true" />Yes<br />
                                    <input type="radio" id="solved" name="solved" value="false" checked=checked />No
                                </td>
                            }

                        </tr>
                        @if (Model.rank == 0 || Model.rank == 1)
                        {
                            <tr>
                                <td>Lock?</td>
                                @if (inst.Locked == true)
                                {
                                    <td>
                                        <input type="radio" id="locked" name="locked" value="true" checked=checked />Yes<br />
                                        <input type="radio" id="locked" name="locked" value="false" />No<br />
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <input type="radio" id="locked" name="locked" value="true" />Yes<br />
                                        <input type="radio" id="locked" name="locked" value="false" checked=checked />No
                                    </td>
                                }
                            </tr>
                        }
                    </table>
                    <input type="submit" value="Edit Thread" />
                </form>
                <br /><br />
                <div id="content">
                    @using (Html.BeginForm("FileUploadService", "MainPage", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="well bs-component">
                            <br />
                            <div>
                                @{TempData["user"] = Model.UserName; TempData["thread"] = inst.ThreadId; TempData["CurrentPage"] = "MainPage";}
                                @*<form action="FileUploadService">*@
                                <input type="file" name="fileupload" value="fileupload" id="fileupload" />
                                <label for="fileupload"> Select a file to upload</label>
                                <input type="submit" value="Upload" />
                                @*</form>*@


                            </div>
                        </div>
                    }
                </div>


            </div>
            
        </div>
        <!-- end page -->
        <!-- start footer -->
        <div id="footer">
            <p class="legal">
                &copy;2019 Sce-Group11. All Rights Reserved.
                &nbsp;&nbsp;&bull;&nbsp;&nbsp;
                Design by <a href="#">Team_11</a>
                &nbsp;&nbsp;&bull;&nbsp;&nbsp;
                Icons by <a href="#">real_photos</a>.
            </p>
            <!-- end footer -->
        </div>
    </div>
</body>
</html>


