@model StudentCollab.Models.User
    @using StudentCollab.Models

@{
    ViewBag.Title = "ManageUsers";
    Layout = "~/Views/Shared/_MainPageLayout.cshtml";
    List<User> users = ViewBag.Users;
    List<Institution> institutions = ViewBag.Institutions;
    List<Department> departments = ViewBag.Departments;
    List<Syear> years = ViewBag.Syears;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://csstemplatesforfree.com
Released for free under a Creative Commons Attribution 2.5 License

Title      : Embouteillage
Version    : 1.0
Released   : 200800204
Description: Three-column blog design with the third column allocated for <b>ads</b>. Features Web 2.0 design ideal for 1024x768 resolutions.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <!-- start header -->
    <div id="wrapper">
        <div id="header">
            <div id="logo" style="flex">
                <h1><a href="#">StudyCollab</a></h1>
                <p><a href="#">Learn from the best</a></p>
            </div>
        </div>
        <!-- end header -->
        <!-- star menu -->
        <div id="menu">
            <ul>
                <li class="current_page_item"><a href="@Url.Action("MainPage","MainPage",Model)">Home</a></li>           
                <li><a href="@Url.Action("MyProfile","MainPage",Model)">My profile</a></li>
                <li><a href="#">User Logged: @Model.UserName</a></li>
                @if (Model.rank == 0)
                {
                    <li><a href="@Url.Action("AdminPage","MainPage")">Admin Page</a></li>
                }
                @if (!Model.UserName.Equals("None"))
                {
                    <li><a href="@Url.Action("logout","MainPage")">log out</a></li>
                }
            </ul>
        </div>
        <!-- end menu -->
        <!-- start page -->
        <div id="page">
            <form action="~/MainPage/Block" method="post">
                <table>
                    <tr>
                        <td>User Name:</td>
                        <td><input class="text" type="text" name="username" placeholder="UserName" /></td>
                    </tr>
                </table>
                <div class="wthree-text">
                    <div class="clear"> </div>
                </div>
                <input type="submit" value="Block" />
            </form>
            <form action="~/MainPage/UnBlock" method="post">
                <table>
                    <tr>
                        <td>User Name:</td>
                        <td><input class="text" type="text" name="username" placeholder="UserName" /></td>
                    </tr>
                </table>
                <div class="wthree-text">
                    <div class="clear"> </div>
                </div>
                <input type="submit" value="UnBlock" />
            </form>
            <br />
            <hr />
            <br />
            <table>
                <tr>
                    <th>Id</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Rank</th>
                    <th>Active</th>
                    <th>Likes</th>
                </tr>
                @foreach (User usr in ViewBag.Users)
                {
                    <tr>
                        <td>@usr.id</td>
                        <td>@usr.UserName</td>
                        <td>@usr.Email</td>
                        <td>@usr.rank</td>
                        <td>@usr.active</td>
                        <td>@usr.Likes</td>
                    </tr>
                }
            </table>
            <br />
            <hr />
            <br />
            <table>
                <tr>
                    <th>Institution ID</th>
                    <th>Institution Name</th>
                </tr>
                @foreach (Institution inst in ViewBag.Institutions)
                {
                    <tr>
                        <td>@inst.InstitutionId</td>
                        <td>@inst.InstName</td>
                    </tr>
                }
            </table>
            <br />
            <hr />
            <br />
            <table>
                <tr>
                    <th>Department ID</th>
                    <th>Department Name</th>
                    <th>Institution ID</th>
                </tr>
                @foreach (Department dep in ViewBag.Departments)
                {
                    <tr>
                        <td>@dep.DepartmentId</td>
                        <td>@dep.DepartmentName</td>
                        <td>@dep.InstitutionId</td>
                    </tr>
                }
            </table>
            <br />
            <hr />
            <br />
            <table>
                <tr>
                    <th>Year ID</th>
                    <th>Year Name</th>
                    <th>Department ID</th>
                </tr>
                @foreach (Syear yer in ViewBag.Syears)
                {
                    <tr>
                        <td>@yer.SyearId</td>
                        <td>@yer.SyearName</td>
                        <td>@yer.DepartmentId</td>
                    </tr>
                }
            </table>
            <br />
            <hr />
            <br />
            <form action="~/MainPage/makeManager" method="post">
                <table>
                    <tr>
                        <td>o - Oprional, r - Required</td>
                    </tr>
                    <tr>
                        <td>[r] User Name:</td>
                        <td><input class="text" type="text" name="username" placeholder="UserName" /></td>
                    </tr>
                    <tr>
                        <td>[o] Institution limit</td>
                        <td><input class="text" type="text" name="institution" placeholder="Institution id" /></td>
                    </tr>
                    <tr>
                        <td>[o] Department limit</td>
                        <td><input class="text" type="text" name="department" placeholder="Department id" /></td>
                    </tr>
                    <tr>
                        <td>[o] Year limit</td>
                        <td><input class="text" type="text" name="year" placeholder="Year id" /></td>
                    </tr>
                </table>
                <div class="wthree-text">
                    <div class="clear"> </div>
                </div>
                <input type="submit" value="Make manager" />
            </form>
            <form action="~/MainPage/delManager" method="post">
                <table>
                    <tr>
                        <td>o - Oprional, r - Required</td>
                    </tr>
                    <tr>
                        <td>[r] User Name:</td>
                        <td><input class="text" type="text" name="username" placeholder="UserName" /></td>
                    </tr>
                    <tr>
                        <td>[o] Institution limit</td>
                        <td><input class="text" type="text" name="institution" placeholder="Institution id" /></td>
                    </tr>
                    <tr>
                        <td>[o] Department limit</td>
                        <td><input class="text" type="text" name="department" placeholder="Department id" /></td>
                    </tr>
                    <tr>
                        <td>[o] Year limit</td>
                        <td><input class="text" type="text" name="year" placeholder="Year id" /></td>
                    </tr>
                    <tr>
                        <td>[o] change rank?, Y - for accept.</td>
                        <td>Warning: this method will disable the manager rank for all sectors!</td>
                        <td><input class="text" type="text" name="del" placeholder="N" /></td>
                    </tr>
                </table>
                <div class="wthree-text">
                    <div class="clear"> </div>
                </div>
                <input type="submit" value="Delete manager premission" />
            </form>
        </div>
        <!-- end page -->
        <!-- start footer -->
        <div id="footer">
            <p class="legal">
                &copy;2019 Sce-Group11. All Rights Reserved.
                &nbsp;&nbsp;&bull;&nbsp;&nbsp;
                Design by <a href="#">Team_11</a>
                &nbsp;&nbsp;&bull;&nbsp;&nbsp;
                Icons by <a href="#">real_photos</a>.
            </p>

            <!-- end footer -->
        </div>
</body>
</html>