@model StudentCollab.Models.User
@using StudentCollab.Models

@{
    ViewBag.Title = "InboxPage";
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InboxPage1</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body style="background-image: url('@Url.Content("~/Content/Login_Template/")images/imgMail.png')">
    <div class="container">
        <a href="@Url.Action("MainPage", "MainPage", Model)"><h1>Back to Home </h1></a>
        <div class="row">
            <aside class="col-md-2 pad-right-0">

                @{
                    switch ((int)TempData["inboxFlag"])
                    {

                        case 0:
                            <ul class="nav nav-pills nav-stacked">
                                <li class="active"><a href="#" ng-click="groupToPages()"> Inbox </a></li>
                                <li><a href="@Url.Action("SentPage", "Communication", Model)">Sent</a></li>
                                @{
                                    if (Model.rank == 0 || Model.rank == 1)
                                    {
                                        <li><a href="@Url.Action("AlertPage", "Communication", Model)">Alert</a></li>
                                    }
                                    if (Model.studentUnionRank == 2)
                                    {
                                        <li><a href="@Url.Action("UnionPage", "Communication", Model)">Union</a></li>
                                    }
                                }
                            </ul>
                            break;
                        case 1:
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="@Url.Action("RecivedPage", "Communication", Model)">Inbox</a></li>
                                <li class="active"><a href="#" ng-click="groupToPages()"> Sent </a></li>
                                @{
                                    if (Model.rank == 0 || Model.rank == 1)
                                    {
                                        <li><a href="@Url.Action("AlertPage", "Communication", Model)">Alert</a></li>
                                    }
                                    if (Model.studentUnionRank == 2)
                                    {
                                        <li><a href="@Url.Action("UnionPage", "Communication", Model)">Union</a></li>
                                    }
                                }
                            </ul>
                            break;
                        case 2:
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="@Url.Action("RecivedPage", "Communication", Model)">Inbox</a></li>
                                <li><a href="@Url.Action("SentPage", "Communication", Model)">Sent</a></li>
                                @{
                                    if (Model.rank == 0 || Model.rank == 1)
                                    {
                                        <li class="active"><a href="#" ng-click="groupToPages()"> Alert</a></li>
                                    }
                                    if (Model.studentUnionRank == 2)
                                    {
                                        <li><a href="@Url.Action("UnionPage", "Communication", Model)">Union</a></li>
                                    }
                                }
                            </ul>
                            break;
                        case 3:
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="@Url.Action("RecivedPage", "Communication", Model)">Inbox</a></li>
                                <li><a href="@Url.Action("SentPage", "Communication", Model)">Sent</a></li>
                                @{
                                    if (Model.rank == 0 || Model.rank == 1)
                                    {
                                        <li><a href="@Url.Action("AlertPage", "Communication", Model)">Alert</a></li>
                                    }
                                    if (Model.studentUnionRank == 2)
                                    {
                                        <li class="active"><a href="#" ng-click="groupToPages()"> Union </a></li>
                                    }
                                }
                            </ul>
                            break;
                    }
                }
                <hr />
                <hr />
            </aside>
            <div class="col-md-10">
                <!--inbox toolbar-->
                <div class="row">
                    <div class="col-xs-12 spacer5"></div>
                </div><!--/row-->
                <!--/inbox toolbar-->
                <div class="panel panel-default inbox" id="inboxPanel">
                    <!--message list-->

                    <div class="table-responsive">
                        @{
                            switch ((int)TempData["inboxFlag"])
                            {
                                case 0:

                                    <table class="table table-striped table-hover refresh-container pull-down">
                                        <thead class="hidden-xs">
                                            <tr>
                                                <td class="col-sm-3"><a href="#"><strong>Subject</strong></a></td>
                                                <td class="col-sm-1"></td>
                                                <td class="col-sm-2"><a href="#"><strong>From</strong></a></td>
                                                <td class="col-sm-4"><a href="#"><strong>Date</strong></a></td>
                                                <td class="col-sm-1"></td>
                                            </tr>
                                        </thead>



                                        <tbody>
                                            @{
                                                TempData["mdl"] = Model;
                                                foreach (Message m in ViewBag.MsgDB)
                                                {
                                                    <tr>
                                                        <td class="col-sm-3 col-xs-4"><a href="@Url.Action("viewMsg", "Communication", new { id = m.id })"><strong style="color:black">@m.subject</strong></a></td>
                                                        <td class="col-sm-1 col-xs-4"></td>
                                                        <td class="col-sm-2 col-xs-4">@m.senderName</td>
                                                        <td class="col-sm-4 col-xs-6">@m.date</td>
                                                        <td class="col-sm-5 col-xs-6"><a href="@Url.Action("deleteMsg", "Communication", new { id = m.id })"><strong style="color:red">delete</strong></a></td>
                                                    </tr>
                                                }

                                            }

                                        </tbody>
                                    </table>
                                    break;
                                case 1:

                                    <table class="table table-striped table-hover refresh-container pull-down">
                                        <thead class="hidden-xs">
                                            <tr>
                                                <td class="col-sm-3"><a href="#"><strong>Subject</strong></a></td>
                                                <td class="col-sm-1"></td>
                                                <td class="col-sm-2"><a href="#"><strong>To</strong></a></td>
                                                <td class="col-sm-4"><a href="#"><strong>Date</strong></a></td>
                                                <td class="col-sm-1"></td>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @{
                                                TempData["mdl"] = Model;
                                                foreach (Message m in ViewBag.MsgDB)
                                                {
                                                    <tr>
                                                        <td class="col-sm-3 col-xs-4"><a href="@Url.Action("viewMsg", "Communication", new { id = m.id })"><strong style="color:black">@m.subject</strong></a></td>
                                                        <td class="col-sm-1 col-xs-4"></td>
                                                        <td class="col-sm-2 col-xs-4">@m.reciverName</td>
                                                        <td class="col-sm-4 col-xs-6">@m.date</td>
                                                        <td class="col-sm-5 col-xs-6"><a href="@Url.Action("deleteMsg", "Communication", new { id = m.id })"><strong style="color:red">delete</strong></a></td>
                                                    </tr>
                                                }


                                            }
                                        </tbody>
                                    </table>
                                    break;
                                case 2:

                                    <table class="table table-striped table-hover refresh-container pull-down">
                                        <thead class="hidden-xs">
                                            <tr>
                                                <td class="col-sm-3"><a href="#"><strong>Subject</strong></a></td>
                                                <td class="col-sm-1"></td>
                                                <td class="col-sm-2"><a href="#"><strong>To</strong></a></td>
                                                <td class="col-sm-4"><a href="#"><strong>Date</strong></a></td>
                                                <td class="col-sm-1"></td>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @{
                                                TempData["mdl"] = Model;
                                                foreach (Message m in ViewBag.MsgDB)
                                                {
                                                    <tr>
                                                        <td class="col-sm-3 col-xs-4"><a href="@Url.Action("viewMsg", "Communication", new { id = m.id })"><strong style="color:black">@m.subject</strong></a></td>
                                                        <td class="col-sm-1 col-xs-4"></td>
                                                        <td class="col-sm-2 col-xs-4">@m.reciverName</td>
                                                        <td class="col-sm-4 col-xs-6">@m.date</td>
                                                        <td class="col-sm-5 col-xs-6"><a href="@Url.Action("deleteMsg", "Communication", new { id = m.id })"><strong style="color:red">delete</strong></a></td>
                                                    </tr>
                                                }


                                            }
                                        </tbody>
                                    </table>
                                    break;
                                case 3:

                                    <table class="table table-striped table-hover refresh-container pull-down">
                                        <thead class="hidden-xs">
                                            <tr>
                                                <td class="col-sm-3"><a href="#"><strong>Subject</strong></a></td>
                                                <td class="col-sm-1"></td>
                                                <td class="col-sm-2"><a href="#"><strong>To</strong></a></td>
                                                <td class="col-sm-4"><a href="#"><strong>Date</strong></a></td>
                                                <td class="col-sm-1"></td>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @{
                                                TempData["mdl"] = Model;
                                                foreach (Message m in ViewBag.MsgDB)
                                                {
                                                    <tr>
                                                        <td class="col-sm-3 col-xs-4"><a href="@Url.Action("viewMsg", "Communication", new { id = m.id })"><strong style="color:black">@m.subject</strong></a></td>
                                                        <td class="col-sm-1 col-xs-4"></td>
                                                        <td class="col-sm-2 col-xs-4">@m.reciverName</td>
                                                        <td class="col-sm-4 col-xs-6">@m.date</td>
                                                        <td class="col-sm-5 col-xs-6"><a href="@Url.Action("deleteMsg", "Communication", new { id = m.id })"><strong style="color:red">delete</strong></a></td>
                                                    </tr>
                                                }


                                            }
                                        </tbody>
                                    </table>
                                    break;
                            }
                        }
                    </div>
                    <!--message detail-->

                </div><!--/inbox panel-->
                <div class="well well-s text-right"><em>Last update: <span id="lastUpdated">@DateTime.Now</span></em></div>
            </div><!--/col-9-->
            <div><li><a href="@Url.Action("sendMsg", "Communication", Model)"><h2>New message </h2></a></li></div>
            <!-- /.modal compose message -->


        </div>

    </div>
</body>
</html>